.page{
	background-color: #2A87D7;
}
.page .stage1{
	width: 100%;
	height: 100%;
}
#page1 .stage1{
	background: url(../img/1-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page2 .stage1{
	background: url(../img/2-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page3 .stage1{
	background: url(../img/3-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page4 .stage1{
	background: url(../img/4-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page5 .stage1{
	background: url(../img/5-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page6 .stage1{
	background: url(../img/6-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page8 .stage1{
	background: url(../img/8-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page10 .stage1{
	background: url(../img/10-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page11 .stage1{
	background: url(../img/11-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page12 .stage1{
	background: url(../img/12-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page15 .stage1{
	background: url(../img/15-1.jpg) no-repeat;
	background-size: 100% 100%;
}
#page7 .stage,#page9 .stage,#page11 .stage,#page13 .stage,#page14 .stage,#page16 .stage{
	width: 100%;
	height: 50%;
}